@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

p {
    margin: 0;
}

br {
    display: block;
    content: "";
    margin: 20px 0;
}

.arrows {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 60px;
	height: 72px;
    top: 10px;
    transition: 1s all ease;
}

.arrows path     {
    opacity: 0;
	stroke: #8a7d63;
	fill: transparent;
	stroke-width: 1px;
}

.a1 {
    animation: appear 1s 4s, arrow 2s 3s infinite;
}

.a2 {
    animation: appear 1s 4s, arrow 2s 3.5s infinite;
}

.a3 {	
    animation: appear 1s 4s, arrow 2s 4s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.introduction {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #232323;
    margin-top: -120px;
    box-shadow: 0px 0px 10px black;
}

.intro-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 80px;
    color: rgb(240, 240, 240);
    padding-bottom: 80px;
}

.intro-title {
    font-family: 'Quicksand', 'Poppins', sans-serif;
    text-decoration: underline solid;
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 30px;
}

.intro-para {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    max-width: 50%;
    text-align: left
}

.scroll-appear {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.show {
    transform: translateY(0);
    opacity: 1;
}

.disappear {
    opacity: 0;
}

.experiences {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40px;
    color: rgb(240, 240, 240);
    padding-bottom: 30px;
}

.exp-title {
    padding-top: 50px;
    font-family: 'Quicksand', 'Poppins', sans-serif;
    text-decoration: underline solid;
    font-size: 40px;
    font-weight: 900;
}

.exp-block {
    display: flex;
    padding: 30px;
    align-items: center;
}

.exp-texts {
    align-items: stretch;
}

.exp-name {
    font-size: 30px;
    font-weight: 600;
    color: rgb(247, 247, 247);
    text-align: left;
}

.exp-desc {
    font-size: 20px;
    max-width: 600px;
    text-align: left;
}

.mindef {
    width: 250px;
    margin-right: 30px;
    height: 166.5px;
    border-radius: 10px;
}

.stb {
    width: 250px;
    height: 200px;
    padding-right: 30px;
}

.redirect-icon {
    width: 50px;
    height: 50px;
    padding-top: 20px;
    padding-right: 30px;
    filter: invert(100%);
}

.redirect-icon:hover {
    filter: invert(60%);
    transition: 0.4s;
}

.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40px;
    color: rgb(240, 240, 240);
}

.image-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    padding-top: 50px;
    font-family: 'Quicksand', 'Poppins', sans-serif;
    text-decoration: underline solid;
    font-size: 40px;
    font-weight: 900;
}

.project-block {
    display: flex;
    align-items:center;
    padding: 20px;
}

.project-texts {
    align-items: stretch;
}

.project-name {
    font-weight: 600;
    font-size: 30px;
    text-align: left;
}

.project-desc {
    font-size: 20px;
    vertical-align: middle;
    max-width: 600px;
    text-align: left;
}

.techstack {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.techstack-tag {
    background-color: #3D3D3D;
    border-radius: 50px;
    width: max-content;
    height: 35px;
    display: flex;
    align-items: center;
    margin: 0px 7px;
}

.techstack-tag div {
    font-size: 16px;
    color: white;
    padding: 0px 18px;
    padding-bottom: 4px;
}

.utilitybillgif {
    height: 230px;
    width: 300px;
    border-radius: 25px;
    margin-right: 30px;
}

.creditcardgif {
    width: 300px;
    border-radius: 25px;
    margin-right: 30px;
}

.playbay-logo {
    width: 300px;
    border-radius: 25px;
    margin-right: 30px;
}

.courses {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40px;
    color: rgb(240, 240, 240);

    /* To match with footer*/
    padding-bottom: 100px; 
}

.courses-title {
    padding-top: 50px;
    font-family: 'Quicksand', 'Poppins', sans-serif;
    text-decoration: underline solid;
    font-size: 40px;
    font-weight: 900;
}

.courses-para {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    max-width: 50%;
    text-align: left
}

.courses-desc {
    padding-bottom: 30px;
}

.courses-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.semester-title {
    font-size: 30px;
    text-align: center;
}

.courses-list-div {
    text-align: center;
    font-size: 18px;
}

.courses-list {
    display: inline-block;
    text-align: left;
}

@media screen and (max-width: 1000px) {
    .intro-para {
        max-width: 80%;
    }

    .mindef {
        width: 180px;
        height: 120px;
        margin-right: 30px;
    }

    .stb {
        width: 180px;
        height: 128px;
        padding-right: 30px;
    }

    .courses-para {
        max-width: 80%;
    }
}

@media screen and (max-width: 950px) {
    .exp-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mindef {
        width: 280px;
        height: 187px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .stb {
        width: 280px;
        height: 200px;
        padding-right: 0px;
        padding-bottom: 20px;
    }

    .creditcardgif {
        margin-right: 0px;
        margin-bottom: 5px;
    }

    .playbay-logo {
        margin-right: 0px;
        margin-bottom: 5px;
    }

    .redirect-icon {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 20px;
    }

    .project-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .exp-name {
        font-size: 25px;
        max-width: 80%;
        padding-left: 10%;
    }
    .exp-desc {
        font-size: 20px;
        max-width: 80%;
        padding-left: 10%;
    }

    .project-name {
        font-size: 25px;
        max-width: 80%;
        padding-left: 10%;
    }
    .project-desc {
        font-size: 20px;
        max-width: 80%;
        padding-left: 10%;
    }
    .courses-list {
        font-size: 17px;
    }

}

@media screen and (max-width: 600px) {

    .opening-text p {
        font-size: 23px;
        line-height: 28px;
    }

    .photo {
        margin-right: 20px;
        width: 150px;
        height: 150px;
    }

    .intro-title {
        font-size: 35px;
    }

    .exp-title {
        font-size: 35px;
    }

    .projects-title{
        font-size: 35px;
    }
    
    .intro-para {
        font-size: 15px;
        max-width: 80%;
    }

    .courses-para {
        font-size: 15px;
        max-width: 80%;
    }

    .courses-title {
        font-size: 35px;
    }

    .exp-desc {
        font-size: 18px;
    }

    .project-desc {
        font-size: 18px;
    }

    .techstack-1 {
        flex-direction: column;
    }

    .courses-list {
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    .mindef {
        width: 150px;
        height: 100px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .stb {
        width: 150px;
        height: 107px;
        padding-right: 0px;
        padding-bottom: 20px;
    }

    .creditcardgif {
        width: 200px;
    }

    .playbay-logo {
        width: 200px;

    }

    .redirect-icon {
        width: 40px;
        height: 40px;
    }

    .semester-title {
        font-size: 25px;
    }

    .courses-list {
        font-size: 13px;
    }

    .techstack-2 {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .photo {
        margin-right: 20px;
        width: 130px;
        height: 130px;
    }

    .intro-title {
        font-size: 30px;
    }

    .exp-title {
        font-size: 30px;
    }

    .projects-title{
        font-size: 30px;
    }
    
    .intro-para {
        font-size: 15px;
        max-width: 80%;
    }

    .courses-para {
        font-size: 15px;
        max-width: 80%;
    }

    .courses-title {
        font-size: 30px;
    }

    .semester-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 370px) {
    .opening-text p {
        font-size: 18px;
        line-height: 22px;
    }
}