@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

p {
    margin: 0;
}

br {
    display: block;
    content: "";
    margin: 20px 0;
}

.arrows {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 60px;
	height: 72px;
    top: 10px;
    transition: 1s all ease;
}

.arrows path     {
    opacity: 0;
	stroke: #8a7d63;
	fill: transparent;
	stroke-width: 1px;
}

.a1 {
    animation: appear 1s 4s, arrow 2s 3s infinite;
}

.a2 {
    animation: appear 1s 4s, arrow 2s 3.5s infinite;
}

.a3 {	
    animation: appear 1s 4s, arrow 2s 4s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.introduction {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #232323;
    margin-top: -120px;
    box-shadow: 0px 0px 10px black;
}

.intro-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 80px;
    color: rgb(240, 240, 240);
    padding-bottom: 80px;
}

.intro-title {
    font-family: 'Quicksand', 'Poppins', sans-serif;
    text-decoration: underline solid;
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 30px;
}

.intro-para {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    max-width: 50%;
    text-align: left
}

.scroll-appear {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.show {
    transform: translateY(0);
    opacity: 1;
}

.disappear {
    opacity: 0;
}

.experiences {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40px;
    color: rgb(240, 240, 240);
}

.exp-title {
    padding-top: 50px;
    font-family: 'Quicksand', 'Poppins', sans-serif;
    text-decoration: underline solid;
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 30px;
}

.exp-block {
    display: flex;
}

.exp-texts {
    align-items: stretch;
}

.exp-name {
    font-size: 30px;
    font-weight: 600;
    color: rgb(247, 247, 247);
}

.exp-desc {
    font-size: 20px;
    max-width: 600px;
    text-align: left;
}

.stb {
    width: 250px;
    padding-right: 30px;
}

.redirect-icon {
    width: 50px;
    height: 50px;
    padding-top: 20px;
    padding-right: 30px;
    filter: invert(100%);
}

.redirect-icon:hover {
    filter: invert(60%);
    transition: 0.4s;
}

.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40px;
    color: rgb(240, 240, 240);
}

.image-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    padding-top: 50px;
    font-family: 'Quicksand', 'Poppins', sans-serif;
    text-decoration: underline solid;
    font-size: 40px;
    font-weight: 900;
}

.project-block {
    display: flex;
    align-items:center;
    padding: 20px;
}

.project-texts {
    align-items: stretch;
}

.project-name {
    font-weight: 600;
    font-size: 30px;
    text-align: left;
}

.project-desc {
    font-size: 20px;
    vertical-align: middle;
    max-width: 600px;
    text-align: left;
}

.techstack {
    padding: 20px 0px;
    justify-content: center;
    
}

.techstack-1 .python {
    width: 110px;
}

.techstack-1 .pandas {
    width: 70px;
    border-radius: 10px;
    padding-bottom: 5px;
}

.techstack-1 .numpy {
    width: 70px;
    border-radius: 10px;
    padding-left: 20px;
}

.techstack-1 .keras {
    width: 90px;
    border-radius: 2px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.techstack-1 .scikitlearn {
    width: 90px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.techstack-2 .react {
    width: 70px;
}

.techstack-2 .nodejs {
    width: 80px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.techstack-2 .mongodb {
    width: 65px;
    padding-left: 15px;
}

.techstack-2 .unity {
    width: 130px;
}

.creditcardgif {
    width: 300px;
    border-radius: 25px;
    margin-right: 30px;
}

.playbay-logo {
    width: 300px;
    border-radius: 25px;
    margin-right: 30px;
}

.skills {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40px;
    color: rgb(240, 240, 240);
    padding-bottom: 100px;
}

.skills-title {
    padding-top: 50px;
    font-family: 'Quicksand', 'Poppins', sans-serif;
    text-decoration: underline solid;
    font-size: 40px;
    font-weight: 900;
}

.skill-block {
    display: flex;
    align-items:center;
    padding: 20px;
}

.skill-name {
    font-size: 30px;
}

.skill-desc {
    font-size: 22px;
    vertical-align: middle;
    max-width: 600px;
    text-align: left;
}

.python {
    width: 250px;
}

.r {
    width: 130px;
    padding-right: 60px;
    padding-left: 60px;
}

.sql {
    width: 220px;
    padding-right: 15px;
    padding-left: 15px;
}

.java {
    width: 150px;
    padding-right: 47px;
    padding-left: 47px;
}

.gap {
    padding-bottom: 100px;
}

@media screen and (max-width: 1000px) {
    .intro-para {
        max-width: 80%;
    }
    .stb {
        width: 180px;
        height: 128px;
        padding-right: 30px;
    }

    .skill-desc {
        max-width: 500px;
    }
}

@media screen and (max-width: 950px) {
    .exp-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stb {
        width: 280px;
        height: 200px;
        padding-right: 0px;
        padding-bottom: 10px;
    }

    .creditcardgif {
        margin-right: 0px;
        margin-bottom: 5px;
    }

    .playbay-logo {
        margin-right: 0px;
        margin-bottom: 5px;
    }

    .redirect-icon {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 20px;
    }

    .skill-desc {
        max-width: 400px;
        font-size: 20px;
    }

    .project-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .exp-name {
        font-size: 25px;
        max-width: 80%;
        padding-left: 10%;
    }
    .exp-desc {
        font-size: 20px;
        max-width: 80%;
        padding-left: 10%;
    }

    .project-name {
        font-size: 25px;
        max-width: 80%;
        padding-left: 10%;
    }
    .project-desc {
        font-size: 20px;
        max-width: 80%;
        padding-left: 10%;
    }

    .skill-desc {
        max-width: 400px;
        font-size: 20px;
    }

    .skill-name {
        padding-bottom: 30px;
    }

    .skill-block {
        flex-direction: column;
    }

    .python {
        width: 200px;
    }
    
    .r {
        width: 80px;
        padding-right: 60px;
        padding-left: 60px;
    }
    
    .sql {
        width: 180px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .java {
        width: 100px;
        padding-right: 47px;
        padding-left: 47px;
    }
}

@media screen and (max-width: 600px) {

    .opening-text p {
        font-size: 23px;
        line-height: 28px;
    }

    .photo {
        margin-right: 20px;
        width: 150px;
        height: 150px;
    }

    .intro-title {
        font-size: 35px;
    }
    
    .intro-para {
        font-size: 15px;
        max-width: 80%;
    }

    .skills-title {
        font-size: 35px;
    }

    .skill-desc {
        font-size: 18px;
    }

    .exp-desc {
        font-size: 18px;
    }

    .project-desc {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .techstack-1 .python {
        width: 66px;
    }
    
    .techstack-1 .pandas {
        width: 42px;
        border-radius: 10px;
        padding-bottom: 5px;
    }
    
    .techstack-1 .numpy {
        width: 42px;
        border-radius: 10px;
        padding-left: 20px;
    }
    
    .techstack-1 .keras {
        width: 54px;
        border-radius: 2px;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    
    .techstack-1 .scikitlearn {
        width: 54px;
        margin-bottom: 15px;
        margin-left: 15px;
    }
    
    .techstack-2 .react {
        width: 56px;
    }
    
    .techstack-2 .nodejs {
        width: 64px;
        padding-bottom: 5px;
        padding-left: 15px;
    }
    
    .techstack-2 .mongodb {
        width: 52px;
        padding-left: 15px;
    }
    
    .techstack-2 .unity {
        width: 104px;
    }
    
}

@media screen and (max-width: 450px) {
    .stb {
        width: 150px;
        height: 107px;
        padding-right: 0px;
        padding-bottom: 10px;
    }

    .creditcardgif {
        width: 200px;
    }

    .playbay-logo {
        width: 200px;

    }

    .redirect-icon {
        width: 40px;
        height: 40px;
    }

}

@media screen and (max-width: 400px) {
    .photo {
        margin-right: 20px;
        width: 130px;
        height: 130px;
    }

    .intro-title {
        font-size: 30px;
    }
    
    .intro-para {
        font-size: 15px;
        max-width: 80%;
    }

    .skills-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 370px) {
    .opening-text p {
        font-size: 18px;
        line-height: 22px;
    }
}